.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 18%
    left: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    bottom: 20%
    left: -7%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 35%
    left: 60%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

//Banners
.banner-principal__info
  @media screen and (max-width: $bp-max-xl)
    padding-right: 5rem
  @media screen and (max-width: $bp-max-md)
    padding-right: 1.125rem
.banner-principal__img
  padding-bottom: 0 !important
  padding-top: 2rem !important
  img
    max-width: 419px
    margin: 0 auto
.banner-principal .tarjeta
  background-position: inherit
  @media screen and (max-width: $bp-max-md)
    background-image: url(../assets/curso/portada/fondo-banner-principal-md.png) !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url(../assets/curso/portada/fondo-banner-principal-movil.png) !important

.banner-interno
  height: 160px
  .banner-interno__fondo
    background-position: right
    background-image: url(../assets/curso/fondo_tema.png) !important
.titulo-principal.color-acento-contenido
  .titulo-principal__numero
    span
      color: $color-sistema-texto

//titulos
.cont-titulo-decorativo
  position: relative
  max-width: max-content
  figure
    width: 40px
    position: relative
  h3
    position: relative
    color: white
  &:before
    content: ""
    position: absolute
    left: 0
    bottom: 0
    right: 0
    top: 23px
    background: rgb(119,55,240)
    background: linear-gradient(180deg, rgba(119,55,240,1) 0%, rgba(41,17,85,1) 100%)
    border-radius: 6px
    z-index: 0

//colores
.c-color-acento-contenido,span.c-color-acento-contenido
  color: $color-acento-contenido !important
.color-sistema-n
  color: $color-sistema-n !important

.c-color-primario
  color: $color-primario

//color de fondos
.fondo-color-sistema-g
  background-color: $color-sistema-g !important
.fondo-color-sistema-h
  background-color: $color-sistema-h !important
.fondo-color-sistema-i
  background-color: $color-sistema-i !important
.fondo-color-sistema-j
  background-color: $color-sistema-j !important
.fondo-color-sistema-k
  background-color: $color-sistema-k !important
.fondo-color-sistema-l
  background-color: $color-sistema-l !important
.fondo-color-sistema-m
  background-color: $color-sistema-m !important
.fondo-color-sistema-n
  background-color: $color-sistema-n !important
.fondo-color-sistema-o
  background-color: $color-sistema-o !important
//.fondo-color-sistema-p
//  background-color: $color-sistema-p !important
//.fondo-color-sistema-q
//  background-color: $color-sistema-q !important
//.fondo-color-sistema-r
//  background-color: $color-sistema-r !important
//.fondo-color-sistema-s
//  background-color: $color-sistema-s !important
.fondo-color-primario
  background-color: $color-primario !important
.fondo-color-acento-contenido
  background-color: $color-acento-contenido !important

//bordes
.borde-5
  border-radius: 5px !important
.borde-10
  border-radius: 10px !important
.borde-11
  border-radius: 11px !important
.borde-16
  border-radius: 16px !important
.borde-14
  border-radius: 14px !important
.borde-20
  border-radius: 20px !important
.borde-29
  border-radius: 29px !important

//fondos personalizados
.fondo-personalizado-1
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/4.png)
    background-repeat: no-repeat
    background-position: bottom
    background-size: cover
    border-bottom-left-radius: 25px
    border-bottom-right-radius: 25px
  &__contenido
    position: relative
  &.pos-1
    &:before
      top: 55px

.fondo-personalizado-2
  background: rgb(119,55,240)
  background: linear-gradient(180deg, rgba(119,55,240,1) 0%, rgba(41,17,85,1) 100%)

.fondo-personalizado-3
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/12.png)
    background-repeat: no-repeat
    background-position: bottom
    background-size: 100%
    @media screen and (max-width: $bp-max-lg)
      background-size: cover
      background-position: unset
  &__contenido
    position: relative
  &.pos-1
    &:before
      background-position: top
      background-image: url(../assets/curso/temas/39.png)

.fondo-personalizado-4
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/15.png)
    background-repeat: no-repeat
    background-position: bottom
    background-size: 100%
    @media screen and (max-width: $bp-max-md)
      background-size: cover
      background-position: unset
  &__contenido
    position: relative
  &.pos-1
    &:before
      background-position: top
  &.pos-2
    &:before
      background-position: top
      background-size: cover

.fondo-personalizado-5
  background-image: url(../assets/curso/temas/15.png)
  background-repeat: no-repeat
  background-position: bottom
  background-size: 100%

.fondo-personalizado-6
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/24.png)
    background-repeat: no-repeat
    background-position: center
    background-size: 100%
    @media screen and (max-width: $bp-max-md)
      background-size: cover
  &__contenido
    position: relative
  &.pos-1
    &:before
      background-size: cover
      background-position: top
  &.pos-2
    &:before
      background-position: bottom


.fondo-personalizado-7
  background-image: url(../assets/curso/temas/31.png)
  background-repeat: no-repeat
  background-size: cover

.fondo-personalizado-8
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/47.png)
    background-repeat: no-repeat
    background-position: bottom
    background-size: 100%
    @media screen and (max-width: $bp-max-md)
      background-size: cover
      background-position: unset
  &__contenido
    position: relative
  &.pos-1
    &:before
      background-size: cover
      background-position: top

.fondo-personalizado-9
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/62.png)
    background-repeat: no-repeat
    background-position: top
    background-size: cover
  &__contenido
    position: relative

.fondo-personalizado-10
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/66.png)
    background-repeat: no-repeat
    background-position: top
    background-size: cover
  &__contenido
    position: relative

.fondo-personalizado-11
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/74.png)
    background-repeat: no-repeat
    background-position: top
    background-size: cover
  &__contenido
    position: relative

.fondo-personalizado-12
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
      background-size: cover
      bottom: 150px
      top: 150px
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: -180px
    z-index: 0
    background-image: url(../assets/curso/temas/83.png)
    background-repeat: no-repeat
    background-position: center
    background-size: 100%
  &__contenido
    position: relative
  &.pos-1
    background-size: cover !important
    bottom: 0 !important

.fondo-personalizado-13
  position: relative
  &:before
    content: ""
    position: absolute
    width: 108%
    left: -4%
    @media screen and (max-width: $bp-max-xl)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-lg)
      width: 112%
      left: -6%
    @media screen and (max-width: $bp-max-md)
      width: 116%
      left: -8%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: $bp-max-sm)
      width: 110%
      left: -5%
    @media screen and (max-width: 520px)
      width: 120%
      left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/83.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative

//burbujas
.burbuja-1
  display: inline-block
  padding: 0.6rem
  border-radius: 50%
  -webkit-box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.66)
  -moz-box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.66)
  box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.66)

//tarjetas
.tarjeta-personalizada-1
  border-radius: 10px
  cursor: pointer
  background-color: $color-sistema-j
  &:hover
    background-color: $color-primario
  transition: background-color .3s

.tarjeta-personalizada-2
  padding-left: 2rem
  padding-right: 2rem
  position: relative
  *
    position: relative
  &::before
    content: ""
    background: rgb(146,41,238)
    background: linear-gradient(180deg, rgba(146,41,238,1) 0%, rgba(98,17,170,1) 25%, rgba(52,9,90,1) 100%)
    display: block
    position: absolute
    top: 45px
    left: 0
    right: 0
    bottom: 0
    z-index: 0
    border-radius: 12px

.tarjeta-img-1
  position: relative
  border-radius: 22px
  overflow: hidden
  &.bmed-custom
    @media screen and (max-width: $bp-max-xl)
      padding-bottom: 6rem
    @media screen and (max-width: $bp-max-lg)
      padding-bottom: 11rem
    @media screen and (max-width: $bp-max-md)
      padding-bottom: 0
    @media screen and (max-width: 450px)
      padding-bottom: 2.5rem
    @media screen and (max-width: 430px)
      padding-bottom: 4.5rem
    @media screen and (max-width: 380px)
      padding-bottom: 9rem
  &__texto
    position: absolute
    bottom: 0
    width: 100%
    text-align: center
    p
      font-weight: bold
      margin-bottom: 0
      color: $color-acento-contenido

//tabs
.tabs-b
  &__tab
    background-color: white !important
    border-bottom: none
    &__title
      h4
        font-weight: normal
    &--active
      h4
        font-weight: bold
      background-color: $color-sistema-l !important
      border-right: none

//otros
.grid-container
  display: grid
  grid-template-columns: repeat(5, 1fr)
  gap: 12px
  @media screen and (max-width: $bp-max-lg)
    grid-template-columns: repeat(4, 1fr)
  @media screen and (max-width: $bp-max-md)
    grid-template-columns: repeat(2, 1fr)
  @media screen and (max-width: $bp-max-sm)
    grid-template-columns: repeat(1, 1fr)

//tablas
.tabla-a
  thead
    th
      color: white !important

//burbujas
.fondo-personalizado-burbuja
  position: relative
  .fig-burbuja
    height: 294px
    width: 294px
    background-color: white
    -webkit-box-shadow: 9px 9px 50px 0px rgba(0,0,0,0.08)
    -moz-box-shadow: 9px 9px 50px 0px rgba(0,0,0,0.08)
    box-shadow: 9px 9px 50px 0px rgba(0,0,0,0.08)
    border-radius: 50%
    position: absolute 
    &.right
      right: 0
      transform: translateX(calc( 50px +  147px))
    &.left
      left: 0
      transform: translateX(calc( -50px -  147px))
  &__contenido
    position: relative

//listas
.lista-p-1
  li
    display: flex
    margin-bottom: 1px